<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      
    </section>
  </aside>
  <div class="col-md-8">
    <div class="col-md-8">
      <%= form_for [:admin, @book], html: {multipart: true} do |f| %>
        <%= render 'shared/error_messages', object: f.object %>

        <%= f.label :category %>
        <%= f.select :category_id, Category.all.collect{|c| [c.content, c.id]}, include_blank: true %>

        <%= f.label :title %>
        <%= f.text_field :title, class: 'form-control' %>

        <%= f.label :author %>
        <%= f.text_field :author, class: 'form-control' %>

        <%= f.label "Number of page" %>
        <%= f.number_field :number_of_pages, in: 1...1000, class: 'form-control' %>

        <%= f.label :publish %>
        <%= f.date_select :publish_date, class: 'form-control' %>

        <%= f.label "Cover" %>
        <%= f.file_field :image, accept: 'image/jpeg,image/gif,image/png' %>

        <p>
          <%= link_to_add_fields "Add Image", f, :photos %>
        </p>

        <%= f.submit "Create new book", class: "btn btn-primary" %>
      <% end %>
      <%= link_to "manage books", admin_books_path %>
    </div>
  </div>
</div>