<% @user ||= current_user %>
<div class="stats">
  <a href="<%= user_path @user %>/following" >
    <%= hidden_field_tag ':follower_id', @user.id %>
    <strong id="following" class="stat">
      <%= @user.following.count %>
    </strong>
    following
  </a>
  <a href="<%= user_path @user %>/followers" >
    <%= hidden_field_tag ':followed_id', @user.id %>
      <strong id="followers" class="stat">
        <%= @user.followers.count %>
      </strong>
    followers
  </a>
</div>