<% provide :title, 'All users' %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <%= render 'devise/shared/user_info' %>
    </section>
    <section>
      <%= render 'devise/shared/stats' %>
    </section>
  </aside>
  <div class="col-md-8">
    <h1>All users</h1>
    <%= will_paginate %>
    <ul class="users">
      <%= render @users %>
    </ul>
    <%= will_paginate %>
  </div>
</div>