<% provide :title, @title %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <%= render 'devise/shared/user_info' %>
      <span><%= link_to "view my profile", @user %></span>
    </section>
    <section class="stats">
      <%= render 'devise/shared/stats' %>
    </section>
  </aside>
  <div class="col-md-8">
    <h3><%= @title %></h3>
    <%= will_paginate %>
    <% if @users.any? %>
      <div class="user_avatars">
        <% @users.each do |user| %>
          <ul>
            <%= link_to user.name, user %>
          </ul>
        <% end %>
      </div>
    <% end %>    
    <%= will_paginate %>
  </div>
</div>