<tr>
  <td>
    <%= image_tag "#{book.image}", size: "32x32", alt: "Book", class: "img-rounded" %>
  </td>
  <td><div class="col-md-12"><%= link_to book.title, book %></div></td>
  <td><div class="col-md-12"><%= book.author %></div></td>
  <td><div class="col-md-12"><%= book.state current_user %></div>
  <td><div class="col-md-12"><%= current_user.favorite? book %></div>
</tr>