<%= hidden_field_tag :direction, params[:direction] %>
<%= hidden_field_tag :sort, params[:sort] %>

<h1>Listing books</h1>

<% if @books.any? %>
  <%= will_paginate @books %>
  
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th><div class="col_md_12">Cover</div></th>
        <th><div class="col-md-12"><%= sortable "title" %></div></th>
        <th><div class="col-md-12"><%= sortable "author" %></div></th>
        <th><div class="col_md_12">State</div></th>
        <th><div class="col_md_12">Favorite</div></th>
      </tr>
    </thead>  
    <tbody class="book-index">
      <%= render @books %>
    </tbody>
  </table>

  <%= will_paginate @books %>
<% else %>
  <h2 style="center">Empty</h2>
<% end %>