<% provide :title, "All Books" %>

<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
    </section>
    <section>
    </section>
  </aside>
  <div class="col-md-8">
    <%= form_tag books_path, method: 'get', id: "books_search" do |f| %>
      <%= hidden_field_tag :direction, params[:direction] %>
      <%= hidden_field_tag :sort, params[:sort] %>
      <div class="col-sm-12 well">
        <div class="col-md-6">
          <%= text_field_tag :search, params[:search], placeholder: 'Enter search term...' %>
        </div>
        <div class="col-md-2">
          <%= select_tag("filter", options_for_select([['Title', 'title'], ['Author', 'author']])) %>
        </div>
        <div class="col-md-4">
          <%= select_tag "category_id", options_from_collection_for_select(Category.all, :id, :content), prompt: "Select category" %>
        </div>
      </div>
      <div class="col-md-12">
        <div id="books_div"><%= render 'list_books' %></div>
      </div>
    <% end %>
  </div>
</div>