<% provide :title, @book.title %>
<h2><%= @book.title %></h2>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
    </section>
    <section>
    </section>
  </aside>
  <div class="col-md-8">
    <div class="col-md-12">
      <div class="col-md-4">
        <img id="book-image" src="<%= @book.image %>" />
      </div>
      <div class="col-md-8">
        <div class="col-md-12">Title : <%= @book.title %></div>
        <div class="col-md-12">Author : <%= @book.author %></div>
        <div class="col-md-12">
          <span id="book_state">State : <%= @book.state current_user %></span>
          <%= link_to "change", new_or_edit_book_book_state_path(@book, @book_state), remote: true %>
        </div>
        <div id="book_state_form" class="col-md-12"></div>
        <div id="favorite_state" class="col-md-12">
          <%= "Favorite: #{current_user.favorite? @book}" %>
        </div>
        <div id="favorite_form" class="col-md-12">
          <%= render current_user.favorite?(@book)  ? "favorites/remove_favorite" 
                                                    : "favorites/add_favorite" %>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <h3>Reviews</h3>
      <% if @reviews.any? %>
        <strong><div id="count">Has <%= @reviews.count %> reviews</div></strong>
        <div id="reviews">
          <%= render @reviews %>
        </div>
      <% else %>
        empty
      <% end %>
      <h3>Write your review</h3>
      <%= render "reviews/form" %>
    </div>
  </div>
</div> 