<% provide :title, "Manager Users" %>

<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      
    </section>
  </aside>
  <div class="col-md-8">
    <div div class="col-md-12">
      <%= form_tag admin_users_path, method: 'get', id: "users_search" do %>
        <%= hidden_field_tag :direction, params[:direction] %>
        <%= hidden_field_tag :sort, params[:sort] %>
        <div class="col-md-12 well">
          <div class="col-md-3">
            <label>Search</label>
          </div>
          <div class="col-md-6">
            <%= text_field_tag :search, params[:search] %>
          </div>
          <div class="col-md-2">
            <%= submit_tag "Search", class: "btn btn-primary" %>
          </div>
          <div class="col-md-1"></div>
        </div>  
        <div class="col-md-12">
          <div id="users_div"><%= render 'list_users' %></div>
        </div>
      <% end %>
    </div>
  </div>
</div>