<% provide :title, "Edit review" %>
<h1>Edit review</h1>
<div class="row">
  <%= form_for @review do |f| %>
    <%= f.label :rating %>
    <%= f.number_field :rating, in: 0..10 %>

    <%= f.label :content %>
    <%= f.text_area :content %>
    
    <%= f.submit "Save changes", class: "btn btn-primary" %>
  <% end %>
</div>